{% extends 'core/base.html' %}
{% block title %}Catalogos{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'core/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">

{% endblock stylesheets %} 

{%block content %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Gestor de Catálogos</h4>
            </div>
            
            <div class="card-body">
                <div class="row" style="padding-bottom: 2rem">
                    <div class="col-md-3">
                        <label class="bmd-label-floating">Selecciona un worckspace</label>
                        <select onchange="getAllDBsByWs()" id="selectWorkspaceById" class="form-control" name="delimiter">
                          <option disabled selected>Espacio de Trabajo</option>
                          {% for w in workspace %}
                            <option value="{{w.id}}">{{w.workspaceName}}</option>
                          {% endfor %}
                        </select>
                      </div>
                
                      <div class="col-md-3">
                        <label class="bmd-label-floating">Selecciona una instancia</label>
                        <select onchange="getAllCatalogsByWs()" class="form-control" id="databases">
                          <option disabled selected>Base de datos</option>
                        </select>
                      </div>
                    <div class="col-md-2" style="flex-direction: row;margin-left: auto;"> 
                        <a style="visibility:hidden" onclick="addCatalog()" id="AddCatalog" title="Agregar Catalogo"  href="#" class="nav-link"><i class="material-icons addCatalog">add_circle</i></a>
                    </div>
                </div>
                <hr>
                 <table id="example" class="table table-hover" width=100% >
                    <thead class="text-primary">
                        <th>Catalogo</th>
                        <th>Creado Por</th>
                        <th>Creación</th>
                        <th>Actualización</th>
                        <th></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</form>
{%endblock%}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="{% static 'core/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    var addCatalogBtn = document.getElementById('AddCatalog');

    var table=$('.table').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "columns": [
            { "width": "15%" },
            { "width": "15%" },
            { "width": "20%" },
            { "width": "20%" },
            { "width": "15%" },
        ]
    });
    $('.table thead th').each(function(){
        var title=$(this).text();
        $(this).html('<input type="text" placeholder="'+title+'" style="width: inherit;"/>');
    });
    
    table.columns().every(function(){
        var that=this;
        $('input',this.header()).on('keyup change',function(){
            if(that.search()!==this.value){
                that.search(this.value).draw();
            }
        });
    });
</script>
{% endblock javascripts %}