{% extends 'core/base.html' %}
{% block title %}Reportes{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'core/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">

{% endblock stylesheets %}

{%block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Gestor de Base de Datos</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1" style="display:grid;">
                            <a title="Regresar a Workspace" href="{% url 'workspace' %}" class="nav-link" style="grid-column: 1; grid-row: 1;"><i class="material-icons addCatalog">arrow_back</i></a>
                            <a title="Crear Base de Datos" onclick="addDataBase({{id}})" href="#" class="nav-link" style="grid-column:2; grid-row: 1;"><i class="material-icons addCatalog">add_circle</i></a>
                        </div>
                        <hr style="width: -webkit-fill-available;">
                        <table id="example" class="table table-hover" style="width:100%">
                            <thead class="text-primary">
                                <th>ID</th>
                                <th>Nombre BD</th>
                                <th>Creación</th>
                                <th>Actualización</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for db in database %}
                                <tr>
                                    <td>{{db.id}}</td>
                                    <td>{{db.dbName}}</td>                                    
                                    <td>{{db.created|date:"SHORT_DATE_FORMAT"}}</td>
                                    <td>{{db.updated|date:"SHORT_DATE_FORMAT"}}</td>
                                    
                                    <td class="td-actions">
                                        {% if canBeModified %}                                
                                            <a title="Actualizar Base de Datos" onclick="editDataBase({{id}},{{db.id}},'{{db.dbName}}')" href="#" class="btn btn-primary btn-link btn-sm"><i class="material-icons">edit</i></a>
                                            <a title="Eliminar Base de Datos" onclick="deleteDataBase({{id}},'{{db.dbName}}')" href="#" class="btn btn-danger btn-link btn-sm"><i class="material-icons">close</i></a> 
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="{% static 'core/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    var table=$('.table').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "columns": [
            { "width": "7%" },//ID
            { "width": "15%" },//Nombre
            { "width": "15%" },//Creacion
            { "width": "15%" },//Actualizacion
            { "width": "7%" },//Acciones
        ]
    });
    $('.table thead th').each(function(){
        var title=$(this).text();
        $(this).html('<input type="text" placeholder="'+title+'" style="width: inherit;"/>');
    });

    table.columns().every(function(){
        var that=this;
        $('input',this.header()).on('keyup change',function(){
            if(that.search()!==this.value){
                that.search(this.value).draw();
            }
        });
    });
</script>
{% endblock javascripts %}