{% extends 'core/base.html' %}
{% block title %}Punto 1{% endblock %}
<!-- Inicio de contenido -->
{%block content %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- <link href="{% static 'core/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"> -->
{% endblock stylesheets %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h4 class="card-title">Productos Con Mayores Busquedas y Ventas:</h4>
                            </span>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#by_categories" data-toggle="tab">
                                        <i class="material-icons"><span
                                                class="material-icons-outlined">style</span></i>Por Categorias
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Por Productos -->
                        <div class="tab-pane active" id="by_categories">
                            <div class="row" style="padding-bottom: 2rem">
                                <div class="col-md-6">
                                    <label class="bmd-label-floating">Selecciona una Categoria</label>
                                    <select onchange="getDFByCategory()" id="selectCategoryByName" class="form-control"
                                        name="delimiter">
                                        <option disabled selected>Categoria Producto</option>
                                        {% for c in category_list %}
                                        <option value="{{c}}">{{c}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <!-- Productos con menores Ventas por Categoria -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Ventas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <table id="sales_table" class="table table-hover" width=100%>
                                <thead>
                                    <tr>
                                        <th>Id_product</th>
                                        <th>Name</th>
                                        <th>Sales</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <!-- Productos con menores Búsquedas por Categoria-->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Busquedas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <table id="searches_table" class="table table-hover" width=100%>
                                <thead>
                                    <tr>
                                        <th>Id_product</th>
                                        <th>Name</th>
                                        <th>Searches</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

{%endblock%}
<!-- Fin de contenido -->
<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<script>
    var sales_table=$('#sales_table').DataTable({
            columnDefs: [{
                targets: 1,
                render: function (data, type, row) {
                    return data.substr(0, 40);
                }
            }],
            "lengthMenu": [5, 10, 15, 20],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar  _MENU_  Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columns": [
            { "width": "15%" },
            { "width": "35%" },
            { "width": "10%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
        ]
    });

    var searches_table=$('#searches_table').DataTable({
            columnDefs: [{
                targets: 1,
                render: function (data, type, row) {
                    return data.substr(0, 40);
                }
            }],
            "lengthMenu": [5, 10, 15, 20],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar  _MENU_  Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columns": [
            { "width": "15%" },
            { "width": "35%" },
            { "width": "10%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
        ]
    });
</script>
{% endblock javascripts %}