{% extends 'core/base.html' %}
{% block title %}Punto 1{% endblock %}
<!-- Inicio de contenido -->
{%block content %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'core/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h4 class="card-title">Productos Busquedas y Ventas:</h4>
                            </span>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#by_revenues" data-toggle="tab">
                                        <i class="material-icons"><span
                                                class="material-icons-outlined">style</span></i>Por Ingresos Totales
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#by_anual" data-toggle="tab">
                                        <i class="material-icons"><span
                                                class="material-icons-outlined">reorder</span></i>Por Total Anual
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#by_sales" data-toggle="tab">
                                        <i class="material-icons"><span
                                                class="material-icons-outlined">reorder</span></i>Por Mayores ventas del Año
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Por Ingresos Totales Mensuales-->
                        <div class="tab-pane active" id="by_revenues">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con mayores Ventas</h2>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con mayores Búsquedas</h2>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Por Ventas Totales Anual -->
                        <div class="tab-pane" id="by_anual">
                            <div class="row" style="padding-bottom: 2rem">
                                <div class="col-md-6">
                                    <label class="bmd-label-floating">Selecciona una Categoria</label>
                                    <select  id="selectCategoryById" class="form-control" name="delimiter">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                  </div>
                            </div>
                            <hr>

                            <!-- Titulo -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Ventas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Titulo -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Busquedas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Por Meses con mas ventas del año -->
                        <div class="tab-pane" id="by_sales">
                            <div class="row" style="padding-bottom: 2rem">
                                <div class="col-md-6">
                                    <label class="bmd-label-floating">Selecciona una Categoria</label>
                                    <select  id="selectCategoryById" class="form-control" name="delimiter">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                  </div>
                            </div>
                            <hr>

                            <!-- Titulo -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Ventas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Titulo -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con menores Busquedas por Categoria</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-hover" style="width:100%">
                                        <thead class=" text-primary">
                                            <th>id_product</th>
                                            <th>sales</th>
                                            <th>price</th>
                                            <th>category</th>
                                            <th>stock</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Tesla</td>
                                                <td>Thornton</td>
                                                <td>Thornton</td>
                                                <td>@tesla</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{%endblock%}
<!-- Fin de contenido -->
<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script type="text/javascript" src="{% static 'core/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    var table = $('.table').DataTable({
        "lengthMenu": [5, 10, 15, 20],
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar  _MENU_  Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "columns": [
            { "width": "15%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
            { "width": "15%" },
        ]
    });
</script>
{% endblock javascripts %}