{% extends 'core/base.html' %}
{% block title %}Punto 1{% endblock %}
<!-- Inicio de contenido -->
{%block content %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">
                                <h4 class="card-title">Productos con Mayores Busquedas y Ventas:</h4>
                            </span>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#by_products" data-toggle="tab">
                                        <i class="material-icons"><span
                                                class="material-icons-outlined">style</span></i>Por Productos
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Por Productos -->
                        <div class="tab-pane active" id="by_products">
                            <!-- Productos con mayores Ventas -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con mayores Ventas</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla de Contenido -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="sales_table" class="table table-hover" width=100% >
                                        <thead>
                                            <tr>
                                                <th>Id_product</th>
                                                <th>Name</th>
                                                <th>Sales</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if data_sales %}
                                            {% for i in data_sales %}
                                            <tr>
                                                <td>{{i.id_product}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.sales}}</td>
                                                <td>{{i.price}}</td>
                                                <td>{{i.category}}</td>
                                                <td>{{i.stock}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <hr>

                            <!-- Productos con mayores Busquedas -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Productos con mayores Busquedas</h2>
                                </div>
                            </div>
                            <hr>
                            <!-- Tabla de Contenido -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="searches_table" class="table table-hover" width=100% >
                                        <thead>
                                            <tr>
                                                <th>Id_product</th>
                                                <th>Name</th>
                                                <th>Searches</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if data_searches %}
                                            {% for i in data_searches %}
                                            <tr>
                                                <td>{{i.id_product}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.searches}}</td>
                                                <td>{{i.price}}</td>
                                                <td>{{i.category}}</td>
                                                <td>{{i.stock}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

{%endblock%}
<!-- Fin de contenido -->
<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#sales_table').DataTable({
            columnDefs: [{
                targets: 1,
                render: function (data, type, row) {
                    return data.substr(0, 40);
                }
            }],
            "lengthMenu": [5, 10, 15, 20],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar  _MENU_  Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columns": [
            { "width": "15%" },
            { "width": "35%" },
            { "width": "10%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
        ]
        });
    });

    $(document).ready(function () {
        $('#searches_table').DataTable({
            columnDefs: [{
                targets: 1,
                render: function (data, type, row) {
                    return data.substr(0, 40);
                }
            }],
            "lengthMenu": [5, 10, 15, 20],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar  _MENU_  Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columns": [
            { "width": "15%" },
            { "width": "35%" },
            { "width": "10%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
        ]
        });
    });

</script>
{% endblock javascripts %}