{% extends 'core/base.html' %}
{% block title %}Workspace{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{%load static%}
{% block stylesheets %}
<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'core/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{%block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Gestor de Workspaces</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a title="Agregar Workspace" href="{% url 'addWorkspace' %}"
                                class="nav-link"><i class="material-icons addCatalog">add_circle</i></a>
                        </div>
                    </div>
                    <hr>
                    <table id="example" class="table table-hover" style="width:100%">
                        <thead class=" text-primary">
                            <th>ID</th>
                            <th>Creado Por</th>
                            <th>Servername</th>
                            <th>Puerto</th>
                            <th>Tipo de BD</th>
                            <th>Workspace</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for space in workspace %}
                            <tr title="Selecciona un espacio de trabajo">
                                <td id="cell">{{space.id}}</td>
                                <td id="cell">{{space.owner}}</td>
                                <td id="cell">{{space.servername}}</td>
                                <td id="cell">{{space.port}}</td>
                                <td id="cell">{{space.formatDB}}</td>
                                <td id="cell">{{space.workspaceName}}</td>
                                <td class="td-actions dbAdmin">
                                    <!-- <a title="Crear Base de Datos" href="#" class="btn btn-primary btn-link btn-sm"><i
                                            class="material-icons">add_circle</i></a> -->
                                    <a title="Actualizar Workspace" href="{% url 'editWorkspace' space.id %}"
                                        class="btn btn-primary btn-link btn-sm"><i class="material-icons">edit</i></a>
                                    <a title="Eliminar Workspace" onclick="deleteWorkspace({{space.id}})" href="#"
                                        class="btn btn-danger btn-link btn-sm"><i class="material-icons">close</i></a>

                                    {% for l in listResult %}
                                    {% if space.id == l.id %}
                                        {% if l.stsCon %}
                                        <i title="{{l.title}}" class="material-icons"
                                            style="color:greenyellow">brightness_1</i>
                                        {% else %}
                                        <i title="{{l.title}}" class="material-icons" style="color:red">brightness_1</i>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="{% static 'core/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    var table=$('.table').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "columns": [
            { "width": "7%" },
            { "width": "15%" },
            { "width": "15%" },
            { "width": "10%" },
            { "width": "15%" },
            { "width": "20%" },
            { "width": "13%" },
        ]
    });
    $('.table thead th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="' + title + '" style="width: inherit;"/>');
    });

    table.columns().every(function () {
        var that = this;
        $('input', this.header()).on('keyup change', function () {
            if (that.search() !== this.value) {
                that.search(this.value).draw();
            }
        });
    });
    
    table.on('click', 'td', function (evt) {
        var data = table.row( this ).data();
        if($(evt.target).is('#cell')) {
            getAllDBs(data[0]);
        }
    });
</script>
{% endblock javascripts %}